name: CI and CD

on:
  pull_request:
    branches: [ master ]

jobs:
    CI:
      runs-on: ubuntu-latest

      steps:
      - uses: actions/checkout@v2
      
      - name: Build all
        run: |
          mkdir logs
          cmake CMakeLists.txt -B"build"  &> logs/cmake.log
          cd build
          make -j8 &> ../logs/make.log
      - name: Upload logs
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: Build logs
          path: logs

      - name: tests
        run: |
          ./build/tests &> logs/tests.log
      - name: Upload t-logs
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: tests logs
          path: logs/tests.log
          
      - name: save calc 
        uses: actions/upload-artifact@v1
        if: success()
        with:
          name: calc
          path: build/calc
    CD:
      needs: CI
      runs-on: ubuntu-latest
      
      steps:
        - name: load calc
          uses: actions/download-artifact@v1
          with:
            name: calc
            
        - name: run cd
          run: |
            chmod +x calc/calc
            echo "/ 8 2" &>> calc.log
            echo / 8 2 | ./calc/calc &>> calc.log
            echo "* 3 8" &>> calc.log
            echo * 3 8 | ./calc/calc &>> calc.log
            echo "+ 6 1" &>> calc.log
            echo + 6 1 | ./calc/calc &>> calc.log
            echo "- 8 4" &>> calc.log
            echo - 8 4 | ./calc/calc &>> calc.log
        - name: save logs calc cd 
          uses: actions/upload-artifact@v1
          with:
            name: calc logs
            path: calc.log
            
            
